.filter-button {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    min-width: 86px;
    cursor: pointer;
    height: 44px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 0 15px;
    color: #192024;
    background-color: #ffffff;
    border: 1px solid #9ba8b0;
    border-radius: 4px;
    transition: color .2s ease-out, background-color .2s ease-out;
    font-family: HelveticaNeue-Bold, "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 18px;
    font-size: 12px;
}

.filter-button-white:hover {
    border-color: #2c3439;
}

.filter-button-black:hover {
    background-color: #2c3439;
    border-color: #2c3439;
}

.filter-button-white {
    margin: 0 4px 16px 0;
    background-color: white;
    padding: 4px 8px;
    height: 60px;
    min-width: 75px;
    align-items: center;
    cursor: pointer;
}

.filter-button-black {
    margin: 0 4px 16px 0;
    background-color: #363f45;
    border-color: #363f45;
    padding: 4px 8px;
    height: 60px;
    min-width: 75px;
    align-items: center;
    cursor: pointer;
}

.filter-text-black {
    color: black;
}

.filter-text-white {
    color: white;
}
