.reset {
    color: #0080a4;
    cursor: pointer;
    font-family: HelveticaNeue-Bold, "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 18px;
    font-size: 12px;
}
