.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.title {
    color: #212a30;
    height: 18px;
    margin-right: 12px;
    font-family: HelveticaNeue-Bold, "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 18px;
    font-size: 12px;
}

.filter-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}