.dropdown {
    position: relative;
}

.dropdown-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #192024;
    border: 1px solid #9ba8b0;
    border-radius: 4px;
    transition: color .2s ease-out, background-color .2s ease-out;
    font-family: HelveticaNeue-Bold, "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 18px;
    font-size: 12px;
}

.dropdown-button-white:hover {
    border-color: #2c3439;
}

.dropdown-button-black:hover {
    background-color: #2c3439;
    border-color: #2c3439;
}

.dropdown-button-white {
    margin: 0 0 16px;
    background-color: white;
    padding: 4px 12px;
    height: 60px;
    min-width: 75px;
    align-items: center;
    cursor: pointer;
}

.dropdown-button-black {
    margin: 0 0 16px;
    background-color: #363f45;
    border-color: #363f45;
    padding: 4px 12px;
    height: 60px;
    min-width: 75px;
    align-items: center;
    cursor: pointer;
}

.dropdown-dialog-popover {
    position: absolute;
    top: 61px;
    left: 0;
    z-index: 99999;
}

.dropdown-dialog-box {
    width: 250px;
    transition: transform 200ms ease, opacity 200ms ease;
    opacity: 1;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(25, 32, 36, 0.1), 0 3px 6px rgba(25, 32, 36, 0.04), 0 -3px 6px rgba(25, 32, 36, 0.04);
    background: #ffffff;
    box-sizing: content-box;
    cursor: auto;
}

.dropdown-dialog-content {
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: opacity 100ms ease-in 150ms;
}

.dropdown-dialog-content-inner {
    margin: 12px 16px;
    min-width: 200px;
}

.dropdown-item {
    width: 250px;
    padding: 8px 16px;
    margin: 0 -16px;
    line-height: 20px;
    display: flex;
    position: relative;
    transition: color 200ms ease-out;
    list-style-type: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-item::before {
    content: "";
    transition: background-color 200ms ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: transparent;
    left: 0;
    right: 0;
    border-radius: 2px;
}

.dropdown-item:hover {
    background-color: #f3f5f7;
}

.dropdown-item-checkbox-outer {
    align-items: flex-start;
    display: flex;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    flex: 0 1 auto;
    overflow: hidden;
}

.dropdown-item-checkbox-inner {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.dropdown-item-span {
    min-width: 0;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
}

.dropdown-item-checkbox-wrapper {
    background-color: #ffffff;
    border-color: #9ba8b0;
    transition: border 200ms ease-in-out;
    position: relative;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.dropdown-item-checkbox {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.dropdown-item-label {
    color: inherit;
    font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    white-space: normal;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    padding-left: 8px;
}

.dropdown-item-label-image {
    display: flex;
    align-items: center;
}

.dropdown-item-image {
    display: inline-block;
    width: 48px;
    height: 32px;
    margin-right: 12px;
    flex: 0 0 auto;
}

.dropdown-item-image-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown-item-price-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1;
    flex: 1 0 auto;
}

.dropdown-item-price {
    font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 32px;
    margin-left: 3px;
    font-size: 0.8em;
    color: #5a6872;
}

.dropdown-item-price:hover {
    text-decoration: underline;
}

.dropdown-dialog-close {
    opacity: 0;
    height: 0;
    width: 0;
}

.dropdown-button-icon {
    width: 15px;
    height: 15px;
    line-height: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease-in-out;
}

.dropdown-options-checked {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
}

.dropdown-text-black {
    text-align: left;
    padding-right: 8px;
    color: black;
}

.dropdown-text-white {
    text-align: left;
    padding-right: 8px;
    color: white;
}

.dropdown-reset {
    z-index: 5;
}
